button{
    /*transform: translateY(-10em);*/
    padding: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover{
    padding: 1em;
    background-color: cornflowerblue; 
    color: rgb(192, 192, 192);
    transition-duration: 2s;
}
